/*____________________________________________________________________*/

@media (max-width: 720px) {
    body {
        font-size: 14px;
    }

    .s1, .s2 {
        padding: 10px;
    }

    .flex-id {
        flex-direction: column;
        justify-content: space-around;
    }

    .flx-1 {
        justify-content: center;
        margin-left: 0;
        margin: 0;
    }

    .flex-id div {
        margin-top: 30px; 
        height: auto; 
        flex-shrink: 3;
    }
    .flx-2 img {
        padding-left: 0;

    }

    /*the following two .flex-s2 codes are not needed due to using flex-gap in the media query for max-width:1100px*/
    /* .flex-s2 {
        flex-direction: column;
    } */
    /* .flex-s2 {
        margin-top: 30px; 
        height: auto; 
        flex-shrink: 3;
    } */

    .s1 {
        height: 100vh;
    }

    .s2 h1 {
        text-align: center;
    }

    

    
}

/*the following media query catches uses flex to change from wrapping to the direction of column when images start to slide  off the screen*/
@media (max-width: 860px) {
    .flex-s2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s2 {
        padding-right: 100px;
    }
}

@media (max-width: 1100px) {
    .s1 {
        background-color: #1f2937;
        padding: 20px;
        padding-bottom: 160px;
    }
    
    .s2 h1 {
        text-align: left;
    }

    /*using flex-wrap eliminates the need for the various padding, margin, etc.*/
    /*the following two .flex-s2 are no longer needed*/
    /* .flex-s2 {
        flex-direction: column;
        padding-left: 50p;
    } */
    /* .flex-s2 {
        margin-top: 30px; 
        height: auto; 
        flex-shrink: 3;
    } */

    /*flex-wrap allows for 2 columns when screen size shrinks*/
    /*used flex-gap to create space between each of the imgs*/
    .flex-s2 {
        flex-wrap: wrap;
        gap: 3.25em;
    }

    .flx-id {
        justify-content: center;
        
    }


}