@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: #ecf0f1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mooli', sans-serif;
    
}
.container{
    background-color: #ECF0F1;
    width: 300px;
   
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    
}

i{
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    font-size: 20px;
}


#singer-name{
    font-size: 14px;
    margin-top: 5px;   
    color: rgb(65, 65, 228);
}
.buttons{
    margin-bottom: 10px;
    margin-top: 10px;
}